<div class="jumbo show-listing">
  {{model}}
  <h2 class="title">{{model.name}}</h2>
  <div class="detail-section">
    <p>Description: {{model.description}} </p>
    <p>Description: {{model.Created_date}} </p>
    <p>Description: {{model.date}} </p>
    <p>Description: {{model.status}} </p>
  </div>
</div>
